body { font-family: Arial, sans-serif; padding: 20px; }
.tree { margin-left: 20px; }
.tree-item { margin: 10px 0; }
.tree-content { display: flex; align-items: center; }
.expand-btn { cursor: pointer; margin-right: 5px; }
.task-name { font-weight: bold; }
.task-status { margin-left: 10px; font-style: italic; }
.task-mscw { margin-left: 10px; }
h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}
.task-path {
    margin-left: 10px;
    font-size: 0.8em;
    color: #888;
}

.complete-btn {
    margin-left: 10px;
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.complete-btn:hover {
    background-color: #45a049;
}
